.hamburger {
  width: 40px;
  height: 35px;
  border: 0;
  border-top: 5px solid #fff;
  background: transparent;
  position: relative;
  transition: 0.2s transform linear;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #fff;
  transform: translateY(10px);
}
.hamburger::after {
  transform: translateY(25px);
  transition: 0.2s transform linear;
}
.active.hamburger {
  transform: rotate(45deg) translateY(5px);
  border: none;
  outline: transparent;
}
.active.hamburger::after {
  transform: rotate(-90deg) translateX(-10px);
}
