@import "../../index.scss";
.home-container {
  width: 100%;
  height: 81vh;
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 300px;
  z-index: 5;
  @media screen and (max-width: 1260px) {
    background-position-y: center;
    background-position-x: 120%;
    background-size: contain;
  }
  @media screen and (max-width: 1000px) {
    background-position: center;
    background-size: cover;
  }
  .bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.686);
  }
  .home-container__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 40%;
    height: 100%;
    background: #eee;
    padding: 40px;
    @media screen and (max-width: 1000px) {
      width: 100%;
      background: rgba(255, 255, 255, 0.4);
      color: white;
    }
  }
  h1 {
    color: $primary;
    letter-spacing: 1.1px;
    font-weight: 200;
    margin-top: 5vh;
    margin-bottom: 30px;
    font-size: 60px;
    @media screen and (max-width: 1000px) {
      color: white;
      text-align: center;
    }
    @media screen and (max-width: 610px) {
      font-size: 35px;
    }
  }
  h3 {
    color: $dark;
    letter-spacing: 1.1px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: justify;
    @media screen and (max-width: 1000px) {
      text-align: center;
      color: white;
      font-size: 30px;
    }
    @media screen and (max-width: 610px) {
      font-size: 23px;
    }
  }
  a {
    margin-right: 10px;
    span {
      margin-left: 5px;
    }
  }
  .home-container__btn-box {
    margin-top: 60px;
    display: flex;
    justify-content: start;
    @media screen and (max-width: 1000px) {
      justify-content: center;
    }
    @media screen and (max-width: 610px) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
