@import "../../index.scss";
footer {
  height: 10vh;
  z-index: 10;
  margin-bottom: 0;
  padding-bottom: 0;
  .bg-footer-layer {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 26%);
    background: #193c5a;
    height: 100%;
    width: 100%;
  }
  ul {
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    li {
      a {
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        color: #ddd;
      }
      span {
        margin-left: 20px;
      }
    }
  }
}
